streamlit
pandas
seaborn
matplotlib
plotly
numpy
ydata-profiling
kaleido
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
idna
iniconfig
Jinja2
joblib
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
packaging
patsy
pillow
pluggy
protobuf
pyarrow
pydeck
Pygments
pytest
python-dateutil
pytz
referencing
requests
rpds-py
scikit-learn
scipy
six
smmap
statsmodels
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog